%div{ :class => 'mark-item span-24 append-bottom' }
  %a{ :name => mark.id }
  %div{ :class => 'content span-17 colborder'}

    %div{ :class => 'header span-17 last' }
      %div{ :class => 'page span-3' }
        - if mark.page && mark.page > 0
          = mark.page
        - else 
          = mark.section

      %div{ :class => 'byline span-12' }
        = mark.type
        by 
        = mark.user.first
        = mark.user.last
        %br
        = mark.updated_at.strftime( "%B %e, %Y")

      %div{ :class => 'tools span-2 last' }
        - if mark.user_id == @current_user.id
          = link_to '[edit]', edit_mark_path( mark.id )

    %div{ :class => 'main span-17 last' }
      - if mark.quote && mark.quote != ''
        %div{ :class => 'quote span-17 last' }
          %span{ :class => 'tick' } &#8220;
          = mark.quote
          %span{ :class => 'tick' } &#8221;
      %div{ :class => 'comment span-17 last' }
        = mark.comment


  %div{ :class => "meta-build span-6 last"}
    -#####################
    -# TERMS TOOLS ----- #
    -#= render :partial => 'marks/term_tools',    :locals => { :mark => mark, :item => item }
    %div{ :class => "meta-build span-6 last"}
      %div{ :class => 'span-6' }
        %div{ :class => 'span-5'} Terms
        %div{ :class => 'right-column-tool span-1 last'}
          %a{ :id => "add-mark-#{mark.id}-term" } [ + ]
      %hr

      -# Open form here with helper method
      -#  = form_tag( url_x, { :remote => :true, :id => "mark-#{mark.id}-term-form" } ) do
      = tag_or_term_select_form_open( 'term', mark.id )
      = hidden_field_tag 'mark[id]',    mark.id

      %div{ :id => "mark-#{mark.id}-term-template" }
        %div{ :id => "mark-#{mark.id}-term-item" }
          %a{ :id => "delete-::FIELD1::" }
            [ - ]
          -# Potentially expensive method: collection_select
          = collection_select(:term, 'select-::FIELD1::', @user_terms, :id, :name, { :prompt => '-'  } )
        = submit_tag 'Submit', { :class => 'hide-me', :id => 'submit-button' }

      %div{ :id => "mark-#{mark.id}-terms", :class => 'span-6 list' }
        - if mark.mark_terms.length > 0
          - mark.mark_terms.each do |mark_term|
            .clickable-flag{ :id => "mark_term-".concat( mark_term.id.to_s ) }
              = link_to('<div class="x">X</div> '.html_safe.concat( mark_term.term.clean_name ), mark_term_path( mark_term.id, :action => :destroy ), :method => :delete, :remote => true)

      -# Close tag/term select form here
      </form>

      -# Open tag/term select form here with helper method
      -# = form_tag( {:controller => :mark_terms, :action => :create}, { :class => "new-meta-form", :remote => :true } ) do
      = tag_or_term_create_form_open( 'term' )
      = hidden_field_tag "mark[id]", mark.id
      = text_field( :term, :name, { :class => 'span-6', :id => "mark-#{mark.id}-term-new" } )

      -# Close tag/term select form here
      </form>

      :javascript
        register_add_link( 'mark-#{mark.id}-term', 'mark-#{mark.id}-terms', 'true' );
      -# Potentially expensive render
      -#= render :partial => 'javascript/meta/register',    :locals => { :singular => "mark-#{mark.id}-term", :plural => "mark-#{mark.id}-terms", :ajaxify => true }
    -#####################

    &nbsp;
    %br

    -#####################
    -# TERMS TOOLS ----- #
    %div{ :class => "meta-build span-6 last"}
      %div{ :class => 'span-6' }
        %div{ :class => 'span-5'} Tags
        %div{ :class => 'right-column-tool span-1 last'}
          %a{ :id => "add-mark-#{mark.id}-tag" } [ + ]
      %hr

      -# Open tag/term select form here with helper method
      -#  = form_tag( url_x, { :remote => :true, :id => "mark-#{mark.id}-tag-form" } ) do
      = tag_or_term_select_form_open( 'tag', mark.id )
      = hidden_field_tag 'mark[id]',    mark.id

      %div{ :id => "mark-#{mark.id}-tag-template" }
        %div{ :id => "mark-#{mark.id}-tag-item" }
          %a{ :id => "delete-::FIELD1::" }
            [ - ]
          -# Potentially expensive method: collection_select
          = collection_select( :tag, 'select-::FIELD1::', @user_tags, :id, :name, { :prompt => '-'  } )
        = submit_tag 'Submit', { :class => 'hide-me', :id => 'submit-button' }

      %div{ :id => "mark-#{mark.id}-tags", :class => 'span-6 list' }
        - if mark.mark_tags.length > 0
          - mark.mark_tags.each do |mark_tag|
            .clickable-flag{ :id => "mark_tag-".concat( mark_tag.id.to_s ) }
              = link_to('<div class="x">X</div> '.html_safe.concat( mark_tag.tag.clean_name ), mark_tag_path( mark_tag.id, :action => :destroy ), :method => :delete, :remote => true)

      -# Close tag/term select form here
      </form>

      -# Open tag/term select form here with helper method
      -# = form_tag( {:controller => :mark_tags, :action => :create}, { :class => "new-meta-form", :remote => :true } ) do
      = tag_or_term_create_form_open( 'tag' )
      = hidden_field_tag "mark[id]", mark.id
      = text_field( :tag, :name, { :class => 'span-6', :id => "mark-#{mark.id}-tag-new" } )

      -# Close tag/term select form here
      </form>

      :javascript
        register_add_link( 'mark-#{mark.id}-tag', 'mark-#{mark.id}-tags', 'true' );
      -# Potentially expensive render
      -#= render :partial => 'javascript/meta/register',    :locals => { :singular => "mark-#{mark.id}-tag", :plural => "mark-#{mark.id}-tags", :ajaxify => true }
    -#####################

    -#= text_field( :mark, :page, { :size => 5, :value => 1, :id => 'reference' })

%hr
