- if flash[:notice] || flash[:error]
  .span-24{ :class => 'append-bottom'}
    - if flash[:notice]
      .notice
        = flash[:notice]

    - if flash[:error]
      .error
        = flash[:error]

%div{ :class => 'meta span-24 last'}
  = form_tag home_index_path, :method => 'get', :remote => :true, :id => 'item-search-form' do
    = hidden_field_tag :direction, params[:direction]
    = hidden_field_tag :sort, params[:sort]

    %div{ :class => 'options span-12'}
      = check_box_tag 'f_books', 1, true
      Books
      = check_box_tag 'f_articles', 1, true
      Journal Articles

    %div{ :class => 'filter span-12 last'}
      %span Filter:
      = text_field_tag :search, params[:search]

%div{ :class => 'item-table span-24 last' }

  %div{ :class => 'span-24 last' }
    %div{ :class => 'header span-24 last' }
      %div{ :class => 'span-13'}
        = sortable_header 'title', 'Title'
      %div{ :class => 'span-5 '}
        = sortable_header 'author', 'Author'
      %div{ :class => 'span-4'}
        Journal
      %div{ :class => 'span-1 last'}
        Year

  = render :partial => 'home/items', :locals => { :f_path => home_index_path, :f_filter => 1, :f_header => 1 }
