!!! XML
!!!
%html
  %head
    %title ZigZag / WigWam

    = javascript_include_tag :application
    = javascript_include_tag :shadowbox
    = javascript_include_tag :reference_popup
    = csrf_meta_tags

    <link href="/assets/blueprint/ie.css?body=1" media="screen" rel="stylesheet" type="text/css" />
    <link href="/assets/blueprint/screen.css"    media="screen" rel="stylesheet" type="text/css" />

    = stylesheet_link_tag("zigzag/chapter_table")
    = stylesheet_link_tag("zigzag/footer")
    = stylesheet_link_tag("zigzag/general")
    = stylesheet_link_tag("zigzag/item_table")
    = stylesheet_link_tag("zigzag/items")
    = stylesheet_link_tag("zigzag/login")
    = stylesheet_link_tag("zigzag/marks")
    = stylesheet_link_tag("zigzag/meta_build")
    = stylesheet_link_tag("zigzag/navigation")
    = stylesheet_link_tag("zigzag/search")
    = stylesheet_link_tag("zigzag/user")
    = stylesheet_link_tag("shadowbox-3.0.3/shadowbox")

    = render :partial => 'javascript/meta/init'

  %body
    .container
      = yield
